@font-face {
	font-family: "Fira Mono Regular";
	src: url("/public/fonts/FiraMono-Regular.otf");
}

@font-face {
	font-family: "Fira Mono Bold";
	src: url("/public/fonts/FiraMono-Bold.otf");
}

@font-face {
	font-family: "Fira Mono Medium";
	src: url("/public/fonts/FiraMono-Medium.otf");
}

*:focus {
	outline: none;
}

body {
	font-family: "Fira Mono Regular", "Courier New";
	margin: 0;
	overflow-x: hidden;
	color: black;
	background-color: #403F4C;
}

a {
	color: initial;
	text-decoration: none;
}

.App {
	width: 100vw;
	height: calc(100vh - 3vmax - 1.5vmax);
	margin-top: calc(3vmax + 1.5vmax);
}

.MenuBar {
	position: absolute;
	top: 0;
	width: 100vw;
	background-color: #B3B3B3;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.MenuBarTitle {
	text-decoration: none;
	text-shadow: 0 0 2.5vmax black;
	color: black;
	font-size: 2.5vmax;
	margin: 0 auto;
	cursor: pointer;
	width: calc(100vw - 6vw - 3vw);
	margin-left: calc(3vw + 1.5vw);
	text-align: center;
}

.MenuLogo {
	width: 3.6vmax;
	height: 3vmax;
	padding: 0.75vmax;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1vw;
}

.Home {
	width: 100vw;
	height: calc(100vh - 3vmax - 1.5vmax);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.PageTitle {
	margin: 0 auto;
	font-size: 4.5vh;
	text-align: center;
	margin-top: 2vh;
	color: #F5FEF5;
}

.HomeBoxes {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2vw;
	margin: auto 0;
}

.homeButtons {
	width: 30vw;
	text-align: center;
	background-color: #B3B3B3;
	font-size: 4.5vh;
	font-weight: bold;
	border-radius: 2.5vh;
	padding: 20vh 8vh;
	cursor: pointer;
	box-shadow: 0 0 1vh rgba(0, 0, 0, 0.75);
	transition-duration: 300ms;
}

.homeButtons:hover {
	box-shadow: 0 0 2.5vh rgba(0, 0, 0, 0.75);
}

.Info {
	width: 100vw;
	height: calc(100vh - 3vmax - 1.5vmax);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Admin {
	width: 100vw;
	height: calc(100vh - 3vmax - 1.5vmax);
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #F5FEF5;
	font-size: 4.5vh;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.infosButons {
	width: 15vw;
	text-align: center;
	font-size: 4.5vh;
	font-weight: bold;
	color: black;
}

.infoBox {
	width: 15vw;
	height: 16vh;
	background-color: #B3B3B3;
	border-radius: 2.5vh;
	padding: 20vh 8vh;
	cursor: pointer;
	box-shadow: 0 0 1vh rgba(0, 0, 0, 0.75);
	transition-duration: 300ms;
	justify-content: space-around;
	display: flex;
	align-items: center;

}

.AdminBoxes {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2vw;
}

.AdminBox {
	background-color: #B3B3B3;
	padding: 25vh 0;
	width: 30vw;
	font-size: 4.5vh;
	font-weight: bold;
	border-radius: 2.5vh;
	cursor: pointer;
	box-shadow: 0 0 1vh rgba(0, 0, 0, 0.75);
	transition-duration: 300ms;
	text-align: center;
}

.AdminBox:hover {
	box-shadow: 0 0 2.5vh rgba(0, 0, 0, 0.75);
}

.E404 {
	width: 100vw;
	height: calc(100vh - 3vmax - 1.5vmax);
	color: #F5FEF5;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.green:hover {
	background-color: #08A47C;
}

.blue:hover {
	background-color: #4775FF;
}

.red:hover {
	background-color: #E74855;
}

.yellow:hover {
	background-color: #FFC482;
}

.Index {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5vh;
	font-size: 5vh;
	color: white;
	background-color: #403F4C;
	width: 100vw;
	height: 100vh;
}

.FormInput {
	width: min-content;
	height: 5vh;
	margin: 0;
	border: 0px solid white;
	border-radius: 2vh;
	background-color: #B3B3B3;
	font-size: 4vh;
	text-align: center;
}

.FormInput:focus {
	outline: none;
}

.passwordBox {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.PasswordLogo {
	width: 20vw;
}

.conectButon {
	color: black;
	font-size: 3vh;
	width: 10vw;
	background-color: #B3B3B3;
	border-radius: 1vh;
	padding: 0.5vh;
	margin-top: 3vh;
	text-align: center;
}

.passwordText {
	font-size: 10vh;
	text-align: center;
	margin-bottom: 2vh;
}

.NumberRate {
	width: 100vw;
	height: 100vh;
}

.customTooltip {
	background-color: #B3B3B3;
	padding: 1vh;
	border-radius: 2vh;
	border: none;
	outline: none;
	font-size: 2vh;
}

.chart {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.LoginPage {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.LoginPage input {
	margin-top: 10vh;
	margin-bottom: 5vh;
	background-color: #55555c;
	border: none;
	color: #F5FEF5;
	font-size: 2vmax;
	border-radius: 0.5vmax;
	padding: 2vh 2vw;
}

.LoginTitle {
	font-size: 5vmax;
	color: #F5FEF5;
	text-align: center;
}

.LoginButton {
	background-color: #55555c;
	text-align: center;
	color: #F5FEF5;
	font-size: 2vmax;
	border-radius: 0.5vmax;
	padding: 2vh 2vw;
	cursor: pointer;
}

.LoginLogo {
	width: 20vw;
}

.ChartEror {
	width: 20vw;
	height: max-content;
	text-align: center;
	color: #F5FEF5;
	font-size: 5vh;
}

.ChartContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 80vh;

}