@font-face {
    font-family: "Fira Mono Regular";
    src: url("/public/fonts/FiraMono-Regular.otf");
}

@font-face {
    font-family: "Fira Mono Bold";
    src: url("/public/fonts/FiraMono-Bold.otf");
}

@font-face {
    font-family: "Fira Mono Medium";
    src: url("/public/fonts/FiraMono-Medium.otf");
}

body {
    font-family: "Fira Mono Regular", "Courier New";
    margin: 0;
    overflow-x: hidden;
    color: black;
}

.App {
    width: 100vw;
    height: calc(100vh - 3vmax - 1.5vmax);
    margin-top: calc(3vmax + 1.5vmax);
}

.MenuBar {
    position: absolute;
    top: 0;
    width: 100vw;
    background-color: #403F4C;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.MenuBarTitle {
    text-decoration: none;
    text-shadow: 0 0 2.5vmax #F5FEF5;
    color: #F5FEF5;
    font-size: 2.5vmax;
    margin: 0 auto;
    cursor: pointer;
}

.MenuLogo {
    width: 3.6vmax;
    height: 3vmax;
    padding: 0.75vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vw;
}

.Home {
    width: 100vw;
    height: calc(100vh - 3vmax - 1.5vmax);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PageTitle {
    margin: 0 auto;
    font-size: 4.5vh;
    text-align: center;
    margin-top: 2vh;
}